<div class="mainCon">
  <mat-card class="noteCardContainer hoverIcons" *ngFor="let note of (filterNotes.length>0 ? filterNotes : noteList)">
    <div>
      <h1 class="content">{{ note?.title }}</h1>
      <h3 class="content">{{ note?.description }}</h3> 
    </div>

    <div class="hoverIcons"> 
      <img src="../../../assets/outline_add_alert_black_24dp.png" alt="Remind" class="icon">

      <!--  COLLAB  -->
      <img (click)="collabHandler(note?.noteID)" src="../../../assets/outline_person_add_alt_black_24dp.png" alt="collab" class="icon">
    


      <img src="../../../assets/outline_palette_black_24dp.png" alt="Background" class="icon">
      <img src="../../../assets/outline_image_black_24dp.png" alt="image" class="icon">
      <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.png" alt="Archive" class="icon">
      <img src="../../../assets/outline_more_vert_black_24dp.png" alt="more" class="icon">
    </div>
  </mat-card>
</div>
