<h1 mat-dialog-title>Collaborators</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <p>
    <!-- {{userData?.userEntity?.firstName}}{{ userData?.userEntity?.lastName }} -->

  <div class="maincontainerrr">
    <p class="userProfile"> {{firstChar}} </p>
    <h4> {{userData?.userEntity?.firstName}} {{ userData?.userEntity?.lastName }}
      <span> (Owner) </span> <br>
     {{userData?.userEntity?.email}}
     <br>

     <ng-container *ngIf="collabList.length > 0">
      <h3 *ngFor="let itm of collabList">
        <ul>
          <li> {{ itm?.email }} </li>
        </ul> 
       </h3>
    </ng-container>
    </h4>
   
  </div>

  <mat-form-field appearance="outline" style="width: 80%;">
    <form [formGroup]="createCollabForm" class="formcontainer" >
      <input matInput placeholder="email" class="titleInput" formControlName="email" style="width: 100%;">
    </form>
  </mat-form-field>
</div>
<div mat-dialog-actions>
 <button mat-raised-button color="primary" (click)="OnSubmit()" style="margin-left: 20px;" >Save</button>
 <button mat-raised-button color="primary" (click)="OnCancel()" style="margin-right: 20px;" >Cancel</button>

</div>
